/* ===== .main-header ===== */

.main-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
}

/* ===== LOGO ===== */

.logo-mobile {
  display: block;
}

.logo-desktop {
  display: none;
}

/* ===== MENU MOBILE ===== */

nav {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 16px 0;
}

.list-link {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-link li {
  margin: 16px 0;
  text-align: center;
}

.list-link li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

/* ===== HOVER ===== */

.list-link li a:hover {
  color: red;
}

/* ===== TABLET E DESKTOP ===== */

@media screen and (min-width: 768px) {
  .navigation-menu label {
    display: none;
  }

  nav {
    display: block;
  }

  .list-link {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .list-link li {
    margin: 0;
  }

  .main-header {
    padding: 38px 120px;
  }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1024px) {
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }
}
